//base styles imported from WSWDS
@import 'css/uswds.min.css';

//site vars
@import "vars";
//utils
@import "utils";

//overall page structure
body, html {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
a{

}
:fullscreen a {
    display: flex
}

.back-link{
	
	margin:15px;
	img{
		vertical-align: middle;
		margin-left:1em;
	}
	a{
		color:#323a45;
		font-size:.8em;
		text-decoration: none;
		&:visited{
			color:inherit;
		}
	}
	
	
}
.site-header{
	background: #112e51;
	
	padding:3rem;
	color:#fff;
	h1{
		text-transform: uppercase;
		font-size:1.4em;
		font-family: "Source Sans Pro";
		font-weight: 400;
		margin:0;
	}
}

.section-header{
	background:#e31c3d;
	padding:1rem 3rem;
	h2{
		text-transform: uppercase;
		font-size:1em;
		font-family: "Source Sans Pro";
		font-weight: 300;
		margin:0;
		color:#fff;
	}
	button{
		margin:0;
    	padding: 1rem;
    	text-transform: uppercase;
		font-family: "Source Sans Pro";
		line-height: .6rem;
    	font-size: .8em;
    	font-weight: bold;
    	margin-top:-3px;
	}
}
nav {
	border:1px dotted $global_outline_color;
	ul{
		list-style:none;
		margin:0 $element_margin;
		padding:0;
		li{
			list-style: none;
			float:left;
			margin-right:$element_margin;
			&:before, &:after{
				content:"";
				margin:0;
				padding:0;
			}
			a.mainNavLink{
				text-decoration: none;
				&:visited{
					color:inherit;
				}
				&.activeLink{
					border-bottom:3px solid $global_darkblue;
					border-top:3px solid $global_darkblue;
				}
			}
		}
	}

} 