@import "react-datepicker.min.css";

.scheduleapt{
	.calendar-icon{
		vertical-align: middle;
		margin-right:15px;
		display:inline-block;
		}
	.appt-calendar{
		*{
			box-sizing: border-box;
		}
		.aptCalRow{
			border-bottom: 1px solid #ccc;
			p{
				margin:.4em 15px;
			}
		}
		width:100%;
		.timecol{
			width:15%;
			float:left;
		}
		.apptCol{
			width:85%;
			float:left;
			.apptSlotCol{
				float:left;
				width:50%;
				transition: background-color 0.25s ease;
				background-color:#4aa564;
				color:#fff;
				cursor:pointer;
				&:first-child{
					border-right:1px solid #ccc;
				}
				&:hover{
					background-color:#2e8540;
				}
				&.filled{
					cursor:default;
					background: #5b616b;
					color:#aeb0b5;
				}
			}
		}
	}
}
